/**
 *
 * General
 *
 */
section {
    width: 100%;
}

.grid-center {
    padding: 0;
}


/**
 *
 * Header
 *
 */
.logo {
    width: 50px;
    height: 50px;
    left: 5px;
}

.title-name {
    width: 70%;
    height: 50%;
    font-size: .5em;
    right: 5px;
}

 /**
 *
 * Main content
 *
 */
.main-content article {
    width: 100%;
    height: 60vh;
    margin: 0;
}

.main-content section {
    padding-top: 60px;
}
.main-content section h2 {
    padding-left: 10px;
    padding-bottom: 20px;
}

.main-content .grid-center {
    display: block;
    width: 100%;
}

article .job-block {
    width: 100%;
}

.job-block .background-img {
    height: 70%;
    width: 100%;
}

#main-content__image {
    margin-top: 50px;
    height: 72vh;
    width: 100%;
}

#first-img {
    background-attachment: fixed;
}

 /**
 *
 * Footer
 *
 */