/**
 *
 * General
 *
 */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
img, iframe {
    max-width: 100%;
}
header, .main-content, footer {
    width: 100%;
    position: relative;
    display: flex;
}


/**
 *
 * Header
 *
 */
 header {
     height: 200px;
     background: yellow;
     justify-content: space-between;
     align-items: center;
 }
 .logo {
     position: relative;
     width: 150px;
     height: 150px;
     background: darkcyan;
     left: 30px;
 }
 .title-name {
    position: relative;
    width: 30%;
    height: 80%;
    background: darkcyan;
    right: 30px;
 }

 /**
 *
 * Main content
 *
 */
 .main-content {
     height: 70vh;
     background: blue;
 }

 /**
 *
 * Footer
 *
 */
 footer {
     height: 200px;
     background: red;
 }