/**
 *
 * General
 *
 */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
img, iframe {
    max-width: 100%;
}
header, .main-content, footer {
    width: 100%;
    position: relative;
    display: flex;
}
.grid-center {
    margin: 30px 30px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    justify-items: center;
}

/**
 *
 * Header
 *
 */
 header {
     height: 200px;
     background: yellow;
     justify-content: space-between;
     align-items: center;
 }
 .logo {
     position: relative;
     width: 150px;
     height: 150px;
     background: darkcyan;
     left: 30px;
 }
 .title-name {
    position: relative;
    width: 40%;
    height: 80%;
    background: darkcyan;
    right: 30px;
    text-transform: uppercase;
 }

 /**
 *
 * Main content
 *
 */
 .main-content {
     height: 70vh;
     background: blue;
     align-items: center;
     flex-direction: column;
 }

 .main-content article {
     height: 60%;
     width: 80%;
     background: darkgoldenrod;
     margin: 40px 0;
 }

 .main-content .grid-center {
     width: 80%;
 }

 .job-block {
     width: 100px;
     height: 100px;
     background: darkgoldenrod;
 }

 /**
 *
 * Footer
 *
 */
 footer {
     height: 10vh;
     background: red;
     justify-content: center;
     align-items: center;
 }

 footer h2 {
     text-transform: capitalize;
 }